*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input{
    display: none;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.percent{
    width: 100%;
    height: 100%;
}
.bt{
    border: 1px solid red;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}
body{
    background-color: #222222;
    font-size: 16px;
}
header{
    width: 100%;
    height: 90vh;
    background-image: url(../img/1.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    &::before{
        position: absolute;
        content: "";
        background-image: linear-gradient(180deg, rgba(0, 0, 0, .57), #222);
        @extend .percent;
        top: 0;
        left: 0;
    }
    // @extend .bt;
    >.header-one{
        width: 100%;
        height: 100px;
        padding: 0 10px;
        position: absolute;
        z-index: 4;
        // @extend .bt;
        display: flex;
        justify-content: space-between;
        align-items: center;
        >h2{
            
        >a{
            color: white;
        }
            }
        >.hamburger-display{
            width: 30px;
            height: 30px;
            right: 0;
            // position: absolute;
            // background-color: red;
            position: relative;
            cursor: pointer;
            >div{
                width: 100%;
                height: 2px;
                background-color: white;
                position: absolute;
                top: 50%;
                &::before,&::after{
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    background-color: white;
                }
                &::before{
                    top: 10px; 
                }
                &::after{  
                    top: -10px;
                }
            }
        }
        >.menu-two{
            visibility: hidden;
            display: none;
            li{
                color: white;
                margin: 0 10px;
                &:nth-of-type(1){
                    color: #1DD69F;
                }
            }
        }
        
    }
    .menu-box{
        width: 100%;
        height: 170px;
        background-color: transparent;
        position: absolute ;
        left: 0;
        top: 66px;
        overflow: hidden;
        >ul{
            
            width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
        justify-content: space-evenly;
        position: absolute;
        top: -170px;
        background-color: black;
        transition: 1s;
        
            >li{
                color: white;
                padding-left: 10px;
            }
        }
    }
    #hamburger:checked ~ .menu-box>ul{
        top: 0px;
       transition: 1s;
       }
    .header-two{
        width: auto;
        text-align: center;
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        >h1{
            line-height: 30px;
        }
        >a{
            border: 1px solid #00D6B4;
            padding: 9px 20px;
            border-radius: 3px;
            color: #00D6B4;
            display: inline-block;
            margin: 20px;
        }
    }
    .header-three{
        width: 100%;
        position: absolute;
        bottom: 20px;
        left: 0;
        text-align: center;
        >p{
            color: white;
            font-size: 2em;
        }
    }
}
article{
    width: 100%;
    height: auto;
    padding: 0 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // @extend .bt;
    >figure{
        width: auto;
        height: auto;
        border-radius: 4px;
        margin: 9px 10px;
        overflow: hidden;
        >img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
footer{
    width: 100%;
    // @extend .bt;
    margin-top: 70px;
    >*{
        width: 100%;
        text-align: center;
        color: white;
        line-height: 30px;
    }
    >p{
        font-size: 2em;
    }
    >h6{
        font-size: 0.9em;
    }
}